#myDiv {
	width: 300px;
	height: 200px;
	background: red;
	animation: mymove 5s infinite;
	border: 5px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
}

@keyframes mymove {
	50% {
		background-color: blue;
		border: 5px solid red;
		color: white;
	}
}
