#myDiv {
	width: 600px;
	height: 600px;
	background: red url("../assets/flying-7288_256.gif") no-repeat top left/50px
		50px;
	animation: myMove 5s infinite;
}

@keyframes myMove {
	50% {
		background: blue bottom right/200px 200px;
	}
}
